## Sets

The set— an **unordered** collection of **unique** and **immutable** objects that supports operations corresponding to mathematical set theory. By definition, an item appears only once in a set, no matter how many times it is added. Accordingly, sets have a variety of applications, especially in numeric and database-focused work. a set acts much like the keys of a valueless dictionary, but it supports extra operations.

In [1]:
# Built-in call
# create a set from a list [1, 2, 3, 4, 4]
set([1, 2, 3, 4, 4])

{1, 2, 3, 4}

In [2]:
# we can wrap a string with set
# create a set from a string 'spam'
set('spam')

{'a', 'm', 'p', 's'}

In [3]:
# Define a set called S that has
# items 's', 'p', 'a', 'm' using curly paranthesis
S = {'s', 'p', 'a', 'm'}

In [4]:
# check the order by printing S
print(S)

{'p', 's', 'm', 'a'}

In [5]:
# we can add items by using add method
# add 'alot' to S
S.add('alot')

In [6]:
print(S)

{'s', 'm', 'alot', 'a', 'p'}

In [7]:
# let's define a set S1 with
# items 1, 2, 3, 4
S1 = {1, 2, 3, 4}

In [8]:
# we can check the intersection by &
# what is the intersection between S1 and {1, 3} 
S1 & {1, 3}

{1, 3}

In [9]:
# we can check union by |
# what is the union of {1, 5, 3, 6} and S1?
S1 | {1, 5, 3, 6}

{1, 2, 3, 4, 5, 6}

In [10]:
# we can check the difference between sets by -
# what is the difference between S1 and {1, 3, 4}
S1 - {1, 3, 4}

{2}

In [11]:
# we can check if a set is a super set 
# of another set by >
# is S1 a super set of {1, 3}
S1 > {1, 3}

True

Sets can only contain **immutable** (a.k.a. “hashable”) object types. Hence, lists and dictionaries cannot be embedded in sets, but tuples can if you need to store compound values.

In [12]:
# let's create an empty set S by using type set
S = set()

In [13]:
# now add an item 1.23
S.add(1.23)

In [14]:
# let's try to add list [1, 2, 3] to S
S.add([1, 2, 3])

TypeError: unhashable type: 'list'

In [15]:
# what about adding a dictionary {'a': 1}
S.add({'a': 1})

TypeError: unhashable type: 'dict'

In [16]:
# What about adding a tuple (1, 2, 3)
S.add((1, 2, 3))

In [17]:
# Let's print S
print(S)

{1.23, (1, 2, 3)}

As we just saw, we can not add lists or dictionaries but tuples are OK since they are immutable.

In [18]:
# We can check membership by in
# let's check if (1, 2, 3) is in S
(1, 2, 3) in S

True

In [19]:
# is (1, 4, 3) in S?
(1, 4, 3) in S

False

In [20]:
# We can iterate items using set comprehension
# create a set that contains a 
#    square of each item in list [1, 2, 3, 4, 5]
{x ** 2 for x in [1, 2, 3, 4, 5]}

{1, 4, 9, 16, 25}

In [21]:
# Can we use set comprehension that has the
# same effect as set('spam')?
# Create a set of items in 'spam'
{x for x in 'spam'}

{'a', 'm', 'p', 's'}

In [23]:
# Create a set that has four times repetition 
# of each item in 'spamham'
{x * 4 for x in 'spamham'}

{'aaaa', 'hhhh', 'mmmm', 'pppp', 'ssss'}

Set operations have a variety of common uses, some more practical than mathematical. For example, because items are stored only once in a set, sets can be used to filter duplicates out of other collections, though items may be reordered in the process because sets are unordered in general. Simply convert the collection to a set, and then convert it back again.

In [24]:
# Remove the duplicates in
# L = [1, 2, 1, 3, 2, 4, 5] by using set
L = [1, 2, 1, 3, 2, 4, 5]
L = list(set(L))
print(L)

[1, 2, 3, 4, 5]

In [25]:
# Does the order change?
# Let's check with 
# ['yy', 'cc', 'aa', 'xx', 'dd', 'aa']
L = ['yy', 'cc', 'aa', 'xx', 'dd', 'aa']
L = list(set(L))
print(L)

['dd', 'xx', 'aa', 'yy', 'cc']

Sets can be used to isolate differences in lists, strings, and other iterable objects too— simply convert to sets and take the difference—though again the unordered nature of sets means that the results may not match that of the originals.

In [26]:
# Find the differences between list
# [1, 3, 5, 7] and [1, 2, 4, 5, 6]
L1 = [1, 3, 5, 7]
L2 = [1, 2, 4, 5, 6]

union = set(L1) | set(L2)
intersection = set(L1) & set(L2)

difference = union - intersection
print(difference)

{2, 3, 4, 6, 7}

In [27]:
# easier way
set(L1) ^ set(L2)

{2, 3, 4, 6, 7}

In [ ]:
# Find the differences between
# strings 'abcdefg' and 'abdghij'

You can also use sets to perform order-neutral equality tests by converting to a set before the test, because order doesn’t matter in a set. For instance, you might use this to compare the outputs of programs that should work the same but may generate results in different order. Sorting before testing has the same effect for equality, but sets don’t rely on an expensive sort, and sorts order their results to support additional magnitude tests that sets do not.

In [28]:
# Do these two lists contain same items?
# L1, L2 = [1, 3, 5, 2, 4], [2, 5, 3, 4, 1]
L1 = [1, 3, 5, 2, 4]
L2 = [2, 5, 3, 4, 1]

In [29]:
# Can we use equality?
# Order matters in sequences
L1 == L2

False

In [30]:
# What about order-neutral equality?
set(L1) == set(L2)

True

In [31]:
# can we use sort?
sorted(L1) == sorted(L2)

True

In [39]:
# let's check timing for set
import time

start_time = time.time()

[set(L1*10000) == set(L2*10000) for i in range(1000) ]

end_time = time.time()

elapsed_time = end_time - start_time
print("Elapsed time for using set(L1) == set(L2) is",
     '{0:0.4f}'.format(elapsed_time))

Elapsed time for using set(L1) == set(L2) is 1.1186

In [41]:
# let's check timing for sort

import time

start_time = time.time()

[sorted(L1*10000) == sorted(L2*10000) for i in range(1000) ]

end_time = time.time()

elapsed_time = end_time - start_time
print("Elapsed time for using sorted(L1) == sorted(L2) is",
     '{0:0.4f}'.format(elapsed_time))

Elapsed time for using sorted(L1) == sorted(L2) is 3.3455

Sets are also convenient when you’re dealing with large data sets (database query results, for example)—the intersection of two sets contains objects common to both categories, and the union contains all items in either set.

In [42]:
# Let's create two sets:
# engineers = {'bob', 'sue', 'ann', 'vic'}
# managers = {'tom', 'sue'}
engineers = {'bob', 'sue', 'ann', 'vic'}
managers = {'tom', 'sue'}

In [43]:
# Is bob an engineer?
'bob' in engineers

True

In [44]:
# Who is both engineer and manager?
engineers & managers

{'sue'}

In [45]:
# All people in either category
engineers | managers

{'ann', 'bob', 'sue', 'tom', 'vic'}

In [46]:
# Engineers who are not managers
engineers - managers

{'ann', 'bob', 'vic'}

In [47]:
# Managers who are not engineers
managers - engineers

{'tom'}

In [48]:
# Are all managers engineers? (superset)
managers > engineers

False

In [49]:
# Are both bob and sue engineers? (subset)
{'bob', 'sue'} < engineers

True

In [50]:
# Who is in one but not both?
engineers ^ managers

{'ann', 'bob', 'tom', 'vic'}

## Booleans

Python today has an explicit Boolean data type called bool, with the values True and False available as preassigned built-in names. Internally, the names True and False are instances of bool, which is in turn just a subclass (in the object- oriented sense) of the built-in integer type int. True and False behave exactly like the integers 1 and 0, except that they have customized printing logic— they print themselves as the words True and False, instead of the digits 1 and 0.

In [51]:
# what is the type of True?
type(True)

bool

In [52]:
# we can check it True is a boolean by
# isinstance method
isinstance(True, bool)

True

In [53]:
# check is True is an int
isinstance(True, int)

True

In [54]:
# The operator == compares values of 
# both the operands and checks for value 
# equality.
True == 1

True

In [55]:
# is operator checks whether both the 
# operands refer to the same object or not.
True is 1

False

# The Dynamic Typing Interlude

So far, we’ve been using variables without declaring their existence or their types, and it somehow works. When we type ``a = 3`` in an interactive session or program file, for instance, how does Python know that ``a`` should stand for an integer? For that matter, how does Python know what ``a`` is at all?

Once you start asking such questions, you’ve crossed over into the domain of Python’s dynamic typing model. **In Python, types are determined automatically at runtime**, not in response to declarations in your code. 

For example, when we say this to assign a variable a value:

In [56]:
a = 3 # Assign a name to an object

at least conceptually, Python will perform three distinct steps to carry out the request.
These steps reflect the operation of all assignments in the Python language:
1. Create an object to represent the value 3.
2. Create the variable ``a``, if it does not yet exist. 
3. Link the variable ``a`` to the new object 3.

The net result will be a structure inside Python that resembles the following figure:

![alt text](../figures/names_and_object.png)

## Types Live with Objects, Not Variables

In [ ]:
a = 3 # it is an integer

In [ ]:
a = "spam" # it is a string

In [ ]:
a = 1.23 # now it is a floating point

**Names have no types**; as stated earlier, **types live with objects**, not names. In the preceding listing, we’ve simply changed ``a`` to reference different objects. Objects, on the other hand, know what type they are—each object contains a header field that tags the object with its type. The integer object 3, for example, will contain the value 3, plus a designator that tells Python that the object is an integer.

## Objects Are Garbage-Collected

When we reassign a variable, what happens to the value it was previously referencing? For example, after the following statements, what happens to the object 3?

In [ ]:
a = 3

In [ ]:
a = "spam"

The answer is that in Python, whenever a name is assigned to a new object, the space held by the prior object is reclaimed if it is not referenced by any other name or object - that is, the object’s space is automatically thrown back into the free space pool, to be reused for a future object. This automatic reclamation of objects’ space is known as *garbage collection*.

The most immediately tangible benefit of garbage collection is that it means you can use objects liberally without ever needing to allocate or free up space in your script. Python will clean up unused space for you as your program runs.

## Shared References

In [ ]:
a = 3

In [ ]:
b = a

Typing these two statements generates the scene captured in the following figure:

![alt text](../figures/shared_reference.png)

This scenario in Python—with multiple names referencing the same object—is usually called a *shared reference*.

In [57]:
# suppose we extend the session with one more statement:
a = 3
b = a
a = "spam"

In [58]:
# what is b?
print(b)

3

The resulting reference structure is shown in the following figure:

In [59]:
b = a

In [60]:
# what is b now?
print(b)

spam

![alt text](../figures/shared_reference_2.png)

## Shared References and In-Place Changes

There are objects and operations that perform in-place object changes—Python’s mutable types, including lists, dictionaries, and sets.

For objects that support such in-place changes, you need to be more aware of shared references, since a change from one name may impact others. Otherwise, your objects may seem to change for no apparent reason.

In [61]:
# A mutable object L1
# list of 2, 3, 4
L1 = [2, 3, 4]

In [62]:
# Make a reference to the same object
L2 = L1

In [63]:
# An in-place change to L1
L1[0] = 24

In [64]:
# L1 is different
print(L1)

[24, 3, 4]

In [65]:
# did L2 change?
print(L2)

[24, 3, 4]

Really, we haven’t changed L1 itself here; we’ve changed a component of the object that L1 references. This sort of change overwrites part of the list object’s value in place. Because the list object is shared by (referenced from) other variables, though, an in- place change like this doesn’t affect only L1. In this example, the effect shows up in L2 as well because it references the same object as L1. Again, we haven’t actually changed L2, either, but its value will appear different because it refers to an object that has been overwritten in place.

It’s also just the default: if you don’t want such behavior, you can request that Python copy objects instead of making references. There are a variety of ways to copy a list, including using the built-in list function and the standard library copy module. Perhaps the most common way is to slice from start to finish.

In [70]:
# create list L1 again from 2, 3, 4
L1 = [2, 3, 4]

In [71]:
# Make a copy of L1 using slicing
L2 = L1[:]

In [72]:
# change L1
L1[0] = 24

In [73]:
# print L1
print(L1)

[24, 3, 4]

In [74]:
# print L2
print(L2)

[2, 3, 4]

L2 is changed or not changed?

Also, note that the standard library ``copy`` module has a call for copying any object type generically, as well as a call for copying nested object structures—a dictionary with nested lists, for example:

In [78]:
import copy
L1 = ['spam',[2, 3, 4], ["a", "b", "c"]]
# Make top-level "shallow" copy of any object L1
L2 = copy.copy(L1)
# Make deep copy of any object Y: copy all nested parts
L3 = copy.deepcopy(L1)

In [79]:
# modify L1[0] and L1[1][0]
L1[0] = 'ham'
L1[1][0] = 96

In [80]:
# print L1
print(L1)

['ham', [96, 3, 4], ['a', 'b', 'c']]

In [81]:
# print L2
print(L2)

['spam', [96, 3, 4], ['a', 'b', 'c']]

In [82]:
# print L3
print(L3)

['spam', [2, 3, 4], ['a', 'b', 'c']]

## Shared References and Equality

In [83]:
L = [1, 2, 3]

In [84]:
# Create M and make M and L reference the same object
M = L

In [85]:
# Do M and L have same values?
M == L

True

In [86]:
# Are they same objects?
M is L

True

In [88]:
# M and L reference different objects
L = [1, 2, 3]
M = [1, 2, 3]

In [89]:
# Same values
L == M

True

In [90]:
# Different Objects
M is L

False

Now, watch what happens when we perform the same operations on small numbers:

In [100]:
# Should be two different objects
X = 42
Y = 42

In [101]:
# Same values?
X == Y

True

In [102]:
# Same objects?
X is Y

True

Because small integers and strings are cached and reused, though, it tells us they reference the same single object.

In [103]:
T1 = (1, 2)
T2 = (1, 2)

In [104]:
# same values?
T1 == T2

True

In [105]:
# same objects?
T1 is T2

False

# Introducing Python Statements

Programs written in the Python language are composed of statements and expressions. Expressions process objects and are embedded in statements. Statements code the larger logic of a program’s operation.

The following table summarizes Python's statements:

![alt text](../figures/statements.png)

![alt text](../figures/statements2.png)

### The colon character (:)

The one new syntax component in Python is the colon character (:). All Python compound statements—statements that have other statements nested inside them—follow the same general pattern of a header line terminated in a colon, followed by a nested block of code usually indented underneath the header line, like this:

Header line: 
    Nested statement block

### Paranthesis are optional

if(x < y)

if x < y

### End of line is end statement

In [ ]:
x = 1;

In [ ]:
x = 1

### End of indentation is end of block

You don't need to include begin/end, then/endif, or braces around the nested block, as you do in C-like languages:

if (x > y){ 
    x = 1;
    y = 2; 
}

Instead, in Python, we consistently indent all the statements in a given single nested block the same distance to the right, and Python uses the statements’ physical inden- tation to determine where the block starts and stops:

if x > y: 
    x = 1 
    y = 2

Python doesn’t care how you indent (you may use either spaces or tabs), or how much you indent (you may use any number of spaces or tabs). In fact, the indentation of one nested block can be totally different from that of another. The syntax rule is only that for a given single nested block, all of its statements must be indented the same distance to the right.

The indentation rule is one of the main ways the Python almost forces programmers to produce uniform, regular, and readable code.

### Statement Rule Special Cases

It is possible to squeeze more than one statement onto a single line in Python by separating them with semicolons:

In [ ]:
a = 1; b = 2; print(a + b) # Three statements on one line

Compound statements like if tests and while loops must still appear on lines of their own.

The other special rule for statements is essentially the inverse: you can make a single statement span across multiple lines. 

To make this work, you simply have to enclose part of your statement in a bracketed pair—parentheses (()), square brackets ([]), or curly braces ({}). 

For instance, to continue a list literal:

In [ ]:
mylist = [1111,
          2222,
          3333]

The body of a compound statement can appear on the same line as the header in Python, after the colon:

if x > y: print(x)

### A Simple Interactive Loop

Suppose you need to write a classic read/evaluate/print loop program.

In [106]:
# print upper case of an input as long as the input is NOT 'stop'
while True:
    reply = input("Enter your input: ")
    if reply == 'stop': break
    print(reply.upper())

Enter your input: stevens
STEVENS
Enter your input: hoboken
HOBOKEN
Enter your input: stop

Now suppose that instead of converting a text string to uppercase, we want to do some math with numeric input—squaring it.

In [107]:
# write while loop here
while True:
    reply = input("Enter your input: ")
    if reply == 'stop': break
    print(int(reply)**2)

Enter your input: 17
289
Enter your input: 6
36
Enter your input: stop

what happens when the input is invalid?

In [108]:
# add a condition
while True:
    reply = input("Enter your input: ")
    if reply == 'stop': 
        break
    elif not reply.isdigit():
        print('Bad bad bad!!!')
    else:
         print(int(reply)**2)

Enter your input: 17
289
Enter your input: 5
25
Enter your input: spam
Bad bad bad!!!
Enter your input: stop

### Handling Errors with try Statements

The most general way to handle errors in Python is to catch and recover from them completely using the Python try statement.

In [109]:
# use try and except
while True:
    reply = input("Enter your input: ")
    if reply == 'stop': 
        break
    try:
        num = int(reply)
        print(num)
    except:
        print("Bad bad bad !!!")
    else:
        print(num)

Enter your input: 17
17
Enter your input: 4
4
Enter your input: spam
Bad bad bad !!!
Enter your input: stop

This version works exactly like the previous one, but we’ve replaced the explicit error check with code that assumes the conversion will work and wraps it in an exception handler for cases when it doesn’t.

In terms of statement nesting, because the words ``try``, ``except``, and ``else`` are all indented to the same level, they are all considered part of the same single try statement. Notice that the else part is associated with the ``try`` here, not the ``if``.

## Nesting Code Three Levels Deep

Nesting can take us even further if we need it to.

In [110]:
# print low if num < 20
while True:
    reply = input("Enter your input: ")
    if reply == 'stop': 
        break
    elif not reply.isdigit():
        print('Bad bad bad!!!')
    else:
        num = int(reply) ** 2
        if num < 20:
            print('low')
        else:
            print(num)

Enter your input: 17
289
Enter your input: 4
low
Enter your input: stop