**Comprehensions:** In addition to sequence operations and list methods, Python includes a more advanced operation known as a list comprehension expression, which turns out to be a powerful way to process structures like our matrix.

In [2]:
# Let's continue working on the matrix we defined last week
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

In [3]:
# Collect the items in column 2
col2 = [row[1] for row in M]

In [4]:
print(col2)

[2, 5, 8]

In [5]:
# Did the matrix change?
print(M)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
# Add 1 to each item in column 2
[row[1] + 1 for row in M]

[3, 6, 9]

In [7]:
# Filter out odd items in column 2
[row[1] for row in M if row[1]%2==1]

[5]

In [8]:
# Collect a right diagonal from matrix
diag = [M[i][i] for i in [0, 1, 2]]

In [9]:
print(diag)

[1, 5, 9]

In [10]:
# Repeat characters in string 'spam'
[c*2 for c in 'spam']

['ss', 'pp', 'aa', 'mm']

In [11]:
# Repeat characters in string '345'
[c*2 for c in '345']

['33', '44', '55']

In [12]:
# Double the numbers in string '345'
[int(c)*2 for c in '345']

[6, 8, 10]

In [13]:
# Double the numbers in a string '345a'
[int(c)*2 for c in '345a']

ValueError: invalid literal for int() with base 10: 'a'

In [14]:
# Double the numbers in a string '345a' if it is a digit
[int(c)*2 for c in '345a' if c.isdigit()]

[6, 8, 10]

In [19]:
# define a list that consists of '3', '4', '5', 'a'
my_list = ['3','4', '5', 'a']

In [20]:
my_list

['3', '4', '5', 'a']

In [21]:
# call reverse on the list
my_list.reverse()
[c for c in my_list]

['a', '5', '4', '3']

In [22]:
help(my_list.reverse)

Help on built-in function reverse:

reverse() method of builtins.list instance
    Reverse *IN PLACE*.

In [ ]:
# print output

In [23]:
#print my_list
print(my_list)

['a', '5', '4', '3']

In [ ]:
# Iterate over reverse of this list

The following illustrates using **range** —a built-in that generates successive integers, and requires a surrounding list to display all its values in 3.X.

In [25]:
# Generate values from 0 to 3
list(range(4))

[0, 1, 2, 3]

In [26]:
# Generate values from -6 to 6 by 2
list(range(-6, 6, 2))

[-6, -4, -2, 0, 2, 4]

In [27]:
# Generate square and cube of each number from 0 to 3
[[i**2, i**3] for i in range(4)]

[[0, 0], [1, 1], [4, 8], [9, 27]]

In [29]:
# Generate an original value, half and double values 
# of every OTHER number from -6 to 6 IF the number is nonnegative
[[i, i/2, i*2] for i in range(-6, 7, 2) if i >=0]

[[0, 0.0, 0], [2, 1.0, 4], [4, 2.0, 8], [6, 3.0, 12]]

## Dictionaries

Python dictionaries are not sequences at all, but are instead known as mappings. They simply map keys to associated values. Dictionaries, the only mapping type in Python’s core objects set, are also mutable: like lists, they may be changed in place and can grow and shrink on demand.

In [30]:
# Define a dictionary that maps food to Spam, 
# quantity to 4, color to pink
D = {'food':'Spam',
    'quantity': 4,
    'color': 'pink'}

In [31]:
# Fetch value of key 'food'
D['food']

'Spam'

In [32]:
# Add 1 to 'quantity' value
D['quantity'] += 1

In [33]:
print(D)

{'food': 'Spam', 'quantity': 5, 'color': 'pink'}

You can start with an empty dictionary and fill it out one key at a time.

In [34]:
# Define an empty dictionary and assign the following
#    key, value mapping at a time:
#    name => Bob, job => dev, age => 40
D = {}
D['name'] = 'Bob'
D['job'] = 'dev'
D['age'] = 40

In [35]:
# print the value of name
D['name']

'Bob'

We can also make dictionaries by passing to the ``dict`` type name using arguments.

In [36]:
# Create a dictionary called bob1 using dict type
#     map name => Bob, job => dev, age => 40
bob1 = dict(name='Bob',
        job='dev',
        age=40)

In [37]:
print(bob1)

{'name': 'Bob', 'job': 'dev', 'age': 40}

Another way of making dictionaries is zipping together sequences of keys and values obtained at runtime (e.g., from files).

In [38]:
# Create a dictionary called bob2 using dict type
# and zipping:
#     map name => Bob, job => dev, age => 40
bob2 = dict(zip(['name', 'job', 'age'],
               ['Bob', 'dev', 40]))
print(bob2)

{'name': 'Bob', 'job': 'dev', 'age': 40}

In [39]:
# Create a list of key and value pairs using zip 
# and list comprehension
[[key, val] for key, val in zip(['name', 'job', 'age'],
                               ['Bob', 'dev', 40])]

[['name', 'Bob'], ['job', 'dev'], ['age', 40]]

**Nesting Revisited:** The following dictionary, coded all at once as a literal, captures more structured information.

In [40]:
# Create a dictionary called rec where
#     name => {first => Bob, last => Smith}
#     jobs => [dev, mgr]
#     age  => 40.5
rec = {'name': {'first': 'Bob', 'last': 'Smith'},
      'jobs': ['dev', 'mgr'],
      'age': 40.5}
print(rec)

{'name': {'first': 'Bob', 'last': 'Smith'}, 'jobs': ['dev', 'mgr'], 'age': 40.5}

In [41]:
# 'name' is a nested dictionary
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [43]:
# fetch the last name
rec['name']['last']

'Smith'

In [44]:
# jobs is a nested list
rec['jobs']

['dev', 'mgr']

In [45]:
# Fetch the second job
rec['jobs'][1]

'mgr'

In [46]:
# Expand Bob's job description in place
#   add janitor to the list of jobs
rec['jobs'].append('janitor')
print(rec)

{'name': {'first': 'Bob', 'last': 'Smith'}, 'jobs': ['dev', 'mgr', 'janitor'], 'age': 40.5}

The real reason for showing you this example is to demonstrate the flexibility of Python’s core data types. As you can see, nesting allows us to build up complex information structures directly and easily. Building a similar structure in a low-level language like C would be tedious and require much more code: we would have to lay out and Dictionaries structures and arrays, fill out values, link everything together, and so on.

**Garbage Collection:** Just as importantly, in a lower-level language we would have to be careful to clean up all of the object’s space when we no longer need it. In Python, when we lose the last reference to the object—by assigning its variable to something else, for example—all of the memory space occupied by that object’s structure is automatically cleaned up for us.

In [47]:
# Now the object's space is reclaimed
#    assign 0 to rec
rec = 0

**Missing Keys:** Fetching a nonexistent key is a mistake.

In [48]:
# Define a dictionary called D
#   where a => 1, b => 2, c => 3
D = {'a':1, 'b':2, 'c':3}

In [49]:
# Assigning new keys grows dictionaries
#    add e => 99 to D
D['e']=99
print(D)

{'a': 1, 'b': 2, 'c': 3, 'e': 99}

In [50]:
# Referencing a nonexistent key is an error
#   try to fetch a value for key f
D['f']

KeyError: 'f'

We can check if a key exists in a dictionary.

In [51]:
# check if f is in D
'f' in D

False

In [52]:
# check if e is in D
'e' in D

True

Besides the if test, there are a variety of ways to avoid accessing nonexistent keys in the dictionaries we create: the **get** method, a conditional index with a default.

In [53]:
# Index but with a default
#   get a value of key x in D if exists
#   otherwise assign 0
D.get('f')

In [54]:
# see help of get
help(D.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [55]:
# what if we feed a default value
D.get('f', 1000)

1000

We can grab a list of keys with the dictionary **keys** method.

In [59]:
# get unordered keys list of D
Ks = list(D.keys())

In [60]:
# Sorted keys list
Ks.sort(reverse=True)
print(Ks)

['e', 'c', 'b', 'a']

In [62]:
# Iterate through sorted keys
[[key, D[key]] for key in Ks]

[['e', 99], ['c', 3], ['b', 2], ['a', 1]]

In [63]:
[key + "=>" + str(D[key]) for key in Ks]

['e=>99', 'c=>3', 'b=>2', 'a=>1']

## Tuples
The tuple object is roughly like a list that cannot be changed.

In [65]:
# Create a 4-item tuple called T with values 1, 2, 3, 4
T = (1, 2, 3, 4)
print(T)

(1, 2, 3, 4)

In [66]:
# Length
len(T)

4

In [67]:
# Concatenate T with (5, 6)
T + (5, 6)

(1, 2, 3, 4, 5, 6)

In [68]:
print(T)

(1, 2, 3, 4)

In [69]:
# Get the first item
T[0]

1

In [70]:
# Change the value of the first item with 2
T[0] = 2

TypeError: 'tuple' object does not support item assignment

In [71]:
# Make a new tuple for a new value
T = (2,) + T[1:]

In [72]:
# print
print(T)

(2, 2, 3, 4)

Like lists and dictionaries, tuples support mixed types and nesting, but they don’t grow and shrink because they are immutable (the parentheses enclosing a tuple’s items can usually be omitted, as done here):

In [73]:
T = 'spam', 3.0, [11, 22, 33]

In [74]:
print(T)

('spam', 3.0, [11, 22, 33])

In [75]:
len(T)

3

In [76]:
# Get the second item in T
T[1]

3.0

In [77]:
# Get the second item of the third item
T[2][1]

22

In [78]:
# Append 4 to T by using append method
T.append(4)

AttributeError: 'tuple' object has no attribute 'append'

# Numeric Types
Let's get started by exploring Python's numeric types and operations.

In [79]:
# Name created not declared ahead of time
a = 3
b = 4

In [80]:
# Addition (a + 1), subtraction (b-1)
a + 1, b - 1

(4, 3)

In [81]:
# Multiplication (4 * 3), division (4 / 2)
a*b, b/2

(12, 2.0)

In [82]:
# Modulus (remainder), power (4 ** 2)
12%7

5

In [83]:
# Mixed-type conversions
#   add integer 2 to float 4
#   multiply b by float 2
2 + 4.0, b * 2.0

(6.0, 8.0)

In [85]:
# what is type of 2?
type(2)

int

In [86]:
# what is type of 4.0?
type(4.0)

float

In [87]:
# what is type of 2 + 4.0
type(2 + 4.0)

float

In [88]:
# calling an undefined object
c

NameError: name 'c' is not defined

### Numeric Display Formats

In [89]:
# create a variable called num that is 1/3.0
num = 1/3.0

In [90]:
# print num
print(num)

0.3333333333333333

In [91]:
# Print num in Scientific format
'%e' %num

'3.333333e-01'

In [92]:
# Alternative floating-point format
#    until the second floating digit
'%.2f' %num

'0.33'

In [93]:
# until the fourth floating digit
'%.4f' %num

'0.3333'

In [ ]:
# newer format

In [ ]:
'{:.6f}'.format(3.141592653589793)

### Comparisons: Normal and Chained

Normal comparisons compare the relative magnitudes of their operands and return a Boolean result.

In [94]:
# is 1 less than 2
1 < 2

True

In [95]:
# Greater than or equal: 
#    is 2.0 greater than or equal to 1
#    mixed-type 1 converted to 1.0
2.0 >= 1

True

In [96]:
# Equal value
#    is 2.0 equal to 2.0?
2.0 == 2.0

True

In [97]:
# Not equal value
#    is 2.0 not equal to 2?
2.0 != 2

False

In [98]:
# What about using 'is'?
2 is 2.0

False

In [99]:
# Create variables X=2, Y=4, Z=6
X = 2
Y = 4
Z = 6

In [100]:
# Chained comparisons: range tests
#   is X less that Y and Y less than Z
X < Y < Z

True

In [101]:
# same comparison using and
X <  Y and Y < Z

True

In [102]:
# Is X less than Y, Y greater than Z
X < Y > Z

False

In [103]:
# same comparison using and
X < Y and Y > Z

False

In [104]:
# Do you think 1.1 + 2.2 == 3.3?
1.1 + 2.2 == 3.3

False

In [105]:
1.1 + 2.2

3.3000000000000003

floating-point numbers may not always work as you’d expect, and may require conversions or other massaging to be compared meaningfully.

In [ ]:
# print the result of 1.1 + 2.2

In [106]:
# will they be equal if we convert both sides to integers?
int(1.1 + 2.2) == int(3.3)

True

### Bitwise Operations
Python supports operators that treat integers as strings of binary bits. This can come in handy if your Python code must deal with things like network packets, serial ports, or packed binary data produced by a C program.

In [107]:
# 1 decimal is 0001 in bits
X = 1

In [108]:
# Shift left 2 bits
X << 2

4

In [109]:
# Bitwise OR between x and 2
X | 2

3

In [110]:
# Bitwise AND (both bits=1) between x and 1
X & 1

1

In [111]:
# Bitwise AND between 3 and 5
3 & 5

1

In [112]:
# we can use bin method to get binary representation
bin(4)

'0b100'

In [113]:
# what is the type of output of bin method?
type(bin(4))

str

Here, the 0b prefix indicates the number is being displayed in binary.

In [114]:
# Binary literals
X = 0b0001
print(X)

1

In [115]:
# Binary representation of X shifted left by 2
bin(X << 2)

'0b100'

In [116]:
# Binary representation of OR between X and 0b010
bin( X | 0b010 )

'0b11'

In [117]:
# Binary representation of AND between X and 0b1
bin(X & 0b1)

'0b1'

You can use ``bit_length`` method to query the number of bits required to represent a number’s value in binary.

In [118]:
# Define X = 8
# What is binary representation?
# Bit length?
X = 8
bin(X), X.bit_length()

('0b1000', 4)

In [119]:
# Can we get the same information about length by
# using the output of bin method
len(bin(X)) - 2

4

### Other Built-in Numeric Tools
In addition to its core object types, Python also provides both built-in functions and standard library modules for numeric processing.

In [ ]:
# math module

In [ ]:
# what is available in math?

In [ ]:
# Common constants: pi and exp

In [ ]:
# Sine of 2pi

In [ ]:
# Square root of 144 and 2

In [ ]:
# Exponentiation (power): 2 to the power of 4
#    using pow mathod
#    using **
#    what if we feed floats

In [ ]:
# Absolute value of -42

In [ ]:
# Summation
#    Sum over (1, 2, 3, 4)

In [ ]:
# what is I define a variable called sum
# and assign the output of sum((1, 2, 3, 4)) to sum

In [ ]:
# now try to sum values again

It was not very smart! Be careful not to overwrite method names!

In [ ]:
# Minimum and Maximum values over (3, 1, 2, 4)

In [ ]:
# Floors (new-lower integer) of 2.567 and -2.567

In [ ]:
# Integer conversion of 2.567 and -2.567

In [ ]:
# Round 2.567 and 2.467

In [ ]:
# What is we want to round only the second floating point?

Interestingly, there are three ways to compute square roots in Python: using a module function, an expression, or a built-in function.

In [ ]:
# Using a module
#    square root of 144

In [ ]:
# Expression

In [ ]:
# Built-in function pow

Notice that standard library modules such as math must be imported, but built-in functions such as abs and round are always available without imports. In other words, modules are external components, but built-in functions live in an implied namespace that Python automatically searches to find names used in your program.

In [ ]:
# Let's compare the performance if each of these
# using time module

The standard library random module must be imported as well. This module provides an array of tools, for tasks such as picking a random floating-point number between 0 and 1, and selecting a random integer between two numbers:

In [ ]:
import random

In [ ]:
# generate a random number

In [ ]:
# it gives a different value each time we call it

In [ ]:
# what if we want set the seed to 100

In [ ]:
# generate random numbers again

In [ ]:
# reset

In [ ]:
# generate a random integer between 1 and 10

This module can also choose an item at random from a sequence, and shuffle a list of items randomly:

In [ ]:
# Choose from a list of 
#    Life of Grain
#    Holy Grain
#    Meaning of Life
# usinf choice

In [ ]:
# Shuffle from a list of suits:
#    ['hearts', 'clubs', 'diamonds', 'spades']

In [ ]:
# Did the order of suits change?